# Binaries / objets
bin/
obj/

# Visual Studio
.vs/
*.suo
*.userprefs
*.vcxproj.user
*.ncb
*.sdf
*.cache
*.log
*.dbmdl

# IDE temp
*.ide.*
*.DS_Store

# NuGet
*.nupkg
packages/
%UserProfile%\.nuget\packages/

# Déploiement
*.publishsettings
*.pubxml
*.publishproj

# ASP.NET temporary files
wwwroot/lib/
node_modules/
npm-debug.log
yarn-error.log

# Tests / coverage
*.coverage
*.coveragexml
TestResults/

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini

# Autres temporaires
*.psess
*.vsp
*.pdb
*.cachefile
*.pidb
