@{
    ViewData["Title"] = "Home Page";
}

 <!-- Container Bootstrap centré verticalement et horizontalement -->
<div class="d-flex justify-content-center align-items-center vh-100">
    <ul class="list-unstyled">
        <li>
            <a asp-controller="Admin" asp-action="Index" class="btn btn-primary btn-lg">
                Admin
            </a>
        </li>
    </ul>
</div>
